.container .img-fluid {
    background-image: linear-gradient(to bottom, #16222a, #3a6073) !important;
}

.container .img-fluid {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    transition: transform 0.6s ease;
}

.container .img-fluid:hover {
    transform: scale(1.1);
}