.movie-con {
    display: flex;
    flex-direction: row;
}

.movies-details .movie-rate {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

.btn-rate,
.btn-book {
    text-decoration: none;
    color: #f8f6fa;
    background-image: linear-gradient(to bottom, #16222a, #3a6073);
}

.movie-section {
    background-color: #16222a22;
}

.sub-cast {
    display: flex;
}

.cast-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
}

@media (min-width: 768px) {
    .movies-section .img-fluid {
        width: 18rem;
    }
}