/* Movies Page Css */
.custom-search-input {
    border: 1px solid #0c1424;
    max-width: 100%;
}

.custom-search-btn {
    background-color: #0c1424;
    color: #f8f6fa;
}

.custom-hr {
    border: 1px solid #0c1424;
}

.future-link {
    text-decoration: none;
}

.card-img-top{
    height: 25.6rem;
}

.movie-card {
    border-radius: 0;
}

.view-details-btn {
    background-color: #0c1424;
    color: #f8f6fa;
}

/* Catagory Section */
.catagory-section .row .col-6 img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.catagory-section .row .col-6 p {
    font-size: 1.2rem;
    transition: transform 0.5s ease;
}

.catagory-section .row .col-6:hover {
    transform: scale(1.1);
}

.catagory-section .img-link {
    text-decoration: none;
    color: #0c1424;
}

@media (max-width: 767px) {
    .card-img-top{
        height: 16rem;
    }
}